* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.qr-card {
  height: fit-content;
  width: min(320px, 85%);
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.05);
}

.qr-card img {
  width: 100%;
  border-radius: 10px;
}

.qr-text {
  padding: 15px;
  text-align: center;
}

.qr-text h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: hsl(218, 44%, 22%);
}

.qr-text p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
